<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">About</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="/about">Company</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/career">Jobs</a> <label class="label label-new">We're hiring</label></li>
                            <li><a href="/press">Press</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//footer-col-->
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">Product</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="/features">Features</a></li>
                            <li><a href="javascript:;">Tutorials</a></li>
                            <li><a href="/support">Support Center</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/customers">Customers</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">Useful Links</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="/signup">Sign up</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/partner">Become our partner</a></li>
                            <li><a href="/faq">FAQs</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">Legal</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="javascript:;">Privacy</a></li>
                            <li><a href="javascript:;">Terms of Services</a></li>
                            <li><a href="javascript:;">Policies</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
            </div><!--//row-->
            <div class="divider"></div>
            <div class="footer-bottom text-center">
                <ul class="social-media list-inline">
                    <li><a href="https://www.facebook.com/zinetgo/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/ZinetGo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/17878438" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://in.pinterest.com/zinetgo/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/113646079003834560272" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/zinetgonline/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCeElf33rpbUa6xfaDBvyjig" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="https://www.quora.com/topic/ZinetGo" target="_blank"><i class="fa fa-quora" aria-hidden="true"></i></a></li> -->
                    
                </ul>
    
                Crafted in Bangalore with <i class="fa fa-heart" style="color:red;"></i> for small &amp; medium businesses
                <br>
                <small class="copyright">Copyright &copy; 2016. All rights reserved by zinetgo.com</small>
                
            </div>
        </div><!--//container-->
    </footer>