<ul class="dropdown-menu animated fadeInRight w"> 
  <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
    <span class="arrow top hidden-folded arrow-info"></span>
    <div>
      <i class="icon-wallet"></i>&nbsp;&nbsp;<span>Wallet </span><span class="badge bg-warning pull-right"><i class="fa fa-inr"></i> 100</span>
    </div>
    
  </li>

  <li>
    <a "/orders">
      <span class="pull-left"><i class="icon-present"></i>&nbsp;&nbsp;</span>
      <span>Orders </span>
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/profile">
    <span class="pull-left"><i class="icon-user"></i>&nbsp;&nbsp;</span>
    <span>Profile </span>
    </a>
  </li>
  <li>
    <a "/account">
      <span class="pull-left"><i class="icon-settings"></i>&nbsp;&nbsp;</span>
      <span>Settings </span>
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="<%= routes.logout %>">Logout</a>
  </li>
</ul>