<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span>Marketing</span><i class="fa fa-circle"></i></li>
                <li><span>Campaigns</span><i class="fa fa-circle"></i></li>
                <li><span>SMS</span><i class="fa fa-circle"></i></li>
                <li><span>New</span></li>
            </ul>
        </div>
        <h1 class="page-title"></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="form-alerts"> </div>
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubbles font-blue-hoki"></i>
                            <span class="caption-subject font-blue-hoki sbold uppercase"> SMS Campaign Information</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form action="<%= api.url %>/api/bulksms?token=<%= user.token %>" id="bulksms_add_form" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Campaign Name
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="name" name="name"> 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Mobile Numbers
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <textarea rows="3" class="form-control" id="mobile" name="mobile"></textarea> 
                                        <span class="help-block">Enter mobile numbers here. You can enter multiple numbers separated with comma.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Message
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <textarea rows="3" class="form-control" id="message" name="message"></textarea> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn green" type="submit"> Submit </button>
                                        <button type="reset" class="btn default">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>