<div class="page-content" style="min-height: 1300px;">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-red"> 500 </div>
            <div class=" details">
                <h3>Oops! Something went wrong.</h3>
                <p> We are fixing it! Please come back in a while.
                    <br> </p>
                <p>
                    <a class="btn red btn-outline" href="index.html"> Return home </a>
                    <br> </p>
            </div>
        </div>
    </div>
</div>