
<div id="error" class="page-content-wrapper">
    <div class="page-content">
        <h1 class="page-title"> Error
            <small>unable to find</small>
        </h1>
        <div class="row">
            <div class="col-md-12 page-500">
                <div class=" number font-red"> 500 </div>
                <div class=" details">
                    <h3>Oops! Something went wrong.</h3>
                    <p> We are fixing it! Please come back in a while.
                        <br/> </p>
                    <p>
                        <a href="/dashboard" class="btn red btn-outline"> Return home </a>
                        <br> </p>
                </div>
            </div>
        </div>
    </div>
</div>