   
    
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-solid"></div>
        </div>
        <div class="container heading-content">                
            <h2 class="headline">About Our Company</h2>
            <div class="intro">With Zinetgo, We Help Yоu Target, Engage And Succeed.<br> It is time you grow your business!</div>
            <div class="actions">
                 <a class="scrollto-no-offset" href="#team-block">Meet the team</a>
                 <a class="scrollto-no-offset" href="#team-block"><img src="/public/images/arrow-icon.svg" alt=""></a>
            </div>
        </div>
    </section>
    
    <div id="team-block" class="team-block">
        <div class="container">
            <h2 class="block-heading text-center">Our Team</h2>
            <div class="block-intro text-center">A dedicated and passion-filled group of professionals that come from every corner of the nation. Each bringing their own expertise and quirks!</div>
            <div class="block-cta text-center">
                <a class="btn btn-secondary" href="/career">Want to Join Us?</a>
            </div>
            <div class="row">
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-1.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Manohar Negi</div>
                            <div class="title">Founder, CEO</div>
                            <ul class="social list-inline">
                                <li><a href=" https://twitter.com/manoharsn" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/+ManoharNegi" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/manohar.negi.71" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/manoharnegi" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul><!--//social-->    
                        </div><!--//info-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-8.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Prasanjeet Chakraborty</div>
                            <div class="title">Sales Head</div>
                            <ul class="social list-inline">
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul><!--//social-->    
                        </div><!--//info-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-2.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Sandeep Sharma</div>
                            <div class="title">Software Engineer</div>
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/sanshrm02" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://in.linkedin.com/in/sandeep-sharma-702380110"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a></li>
                                <li><a href="https://www.facebok.com/sandeepsandysharma"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/100349382144072956722"><i class="fa fa-google-plus" aria-hidden="true" target="_blank"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-7.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Debadatta Mahanta</div>
                            <div class="title">Software Engineer</div>
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/deba7587" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/debadatta-mahanta-a1698195?trk" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/debadatta.tabi" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://plus.google.com/110524034065784670052" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-3.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Jyoti Ranjan Giri</div>
                            <div class="title">Software Engineer</div>
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/jyoti_sonu" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/jyoti-ranjan-giri-4bb89799?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/giri.jrg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/104523555593034748336" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-5.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Subhrajyoti Mishra</div>
                            <div class="title">Software Engineer</div>
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/silan19031993" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/subhrajyoti-mishra-a6504a82?trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/subhra.jyoti.79" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/113686965427071240464" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul><!--//social-->    
                        </div><!--//info-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-6.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Kundan Singh Negi</div>
                            <div class="title">Marketing Head</div>
                            <ul class="social list-inline">
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul><!--//social-->    
                        </div><!--//info-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-6 col-md-3">
                    <div class="item-inner">
                        <img class="img-responsive" src="/public/images/team/member-4.jpg" alt="">
                        <div class="mask">
                        </div>
                        <div class="info text-center">
                            <div class="name">Ravindra Singh Khani</div>
                            <div class="title">Marketing Intern</div>
                            <ul class="social list-inline">
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/100013253402535" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul><!--//social-->    
                        </div><!--//info-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//team-block-->
