    
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-solid"></div>
        </div><!--//hero-wrapper--> 
        <div class="container heading-content">         
            <div class="back-to-main">
                <a href="blog.html"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Blog Home</a>
            </div><!--//back-to-main-->       
            <h2 class="headline">Resources for Developers and Designers</h2>
            <div class="intro">Post intro goes here feugiat nulla ac accumsan euismod <br class="hidden-xs">cras porttitor consectetur metus in imperdiet.</div>
            <div class="meta">
                <div class="author">
                    <img class="author-profile" src="/public/images/blog/authors/author-3.png" alt="">
                    <div class="author-name">By David Chung</div>
                </div><!--//author-->
                <div class="time-stamp">
                    3 days ago
                </div><!--//time-stamp-->
            </div><!--//meta-->
        </div><!--//container-->
    </section><!--//heading-section-->
    
    <div class="post-single-block" id="post-single-block">
        
        <div class="post-container">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, <a href="#">link example</a>, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            <h2 class="post-heading">1. Heading Lorem Ipsum</h2>
            <p>Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum.</p>
            <blockquote class="blog-quote">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>If you are not embarrassed by the first version of your product, you've launched too late.</p>
                <small class="source">Reid Hoffman, Linkedin</small>
                <div class="quote-tweet" href="#"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a></div>
            </blockquote>
            <h2 class="post-heading">2. Heading Aenean Vulputate</h2>
            <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. <strong>Strong text example</strong> ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
            <figure class="figure">
                <img class="img-responsive" src="/public/images/blog/blog-single/blog-post-figure-1.jpg" alt="">
                <figcaption class="figure-caption">(Figure caption example)</figcaption>
            </figure>
            
            <h2 class="post-heading">3. Heading Sed Lectus</h2>
            <p>Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci.</p>
            
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Ultricies eget vel aliquam libero.
                    <ul>
                        <li>Turpis pulvinar</li>
                        <li>Feugiat scelerisque</li>
                        <li>Ut tincidunt</li>
                    </ul>
                </li>
                <li>Pellentesque habitant morbi.</li>
                <li>Praesent dapibus, neque id cursus.</li>
            </ul>
            
            <p>Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis diam. </p>

            
        </div><!--//post-container-->
        <div class="author-container">
            <div class="author">
                <img class="author-profile" src="/public/images/blog/authors/author-3.png" alt="">
            </div><!--//author-->
            <div class="intro">
                <h4 class="author-name">Author: David Chung, Full-stack Developer at Startup Kit</h4>
                <p>Hello, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
                </ul>
            </div><!--//intro-->
            
        </div><!--//author-container-->
        
    </div><!--//post-single-block-->
    
    <div class="related-posts text-center">
        <div class="container">
             <h3 class="title">You May Also Like:</h3>
             <div class="row">
                 <div class="item col-xs-12 col-sm-4 ">
                     <div class="inner">
                         <div class="figure-holder">
                             <a href="#"><img class="img-responsive" src="/public/images/blog/blog-post-thumb-3.jpg" alt=""></a>
                         </div>
                         <div class="content">
                             <h3 class="title"><a href="#">Lorem Ipsum Dolor Sit</a></h3>
                             <div class="intro">
                                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget...
                             </div><!--//intro-->
                         </div><!--//content-->
                     </div><!--//inner-->
                 </div><!--//item-->
                 <div class="item col-xs-12 col-sm-4 ">
                     <div class="inner">
                         <div class="figure-holder">
                             <a href="#"><img class="img-responsive" src="/public/images/blog/blog-post-thumb-5.jpg" alt=""></a>
                         </div>
                         <div class="content">
                             <h3 class="title"><a href="#">Lorem Ipsum Dolor Sit</a></h3>
                             <div class="intro">
                                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget...
                             </div><!--//intro-->
                         </div><!--//content-->
                     </div><!--//inner-->
                 </div><!--//item-->
                 <div class="item col-xs-12 col-sm-4 ">
                     <div class="inner">
                         <div class="figure-holder">
                             <a href="#"><img class="img-responsive" src="/public/images/blog/blog-post-thumb-6.jpg" alt=""></a>
                         </div>
                         <div class="content">
                             <h3 class="title"><a href="#">Lorem Ipsum Dolor Sit</a></h3>
                             <div class="intro">
                                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget...
                             </div><!--//intro-->
                         </div><!--//content-->
                     </div><!--//inner-->
                 </div><!--//item-->
             </div><!--//row-->
        </div><!--//container-->
    </div><!--//related-posts-->
    
    <div class="blog-signup-block">
        <div class="container text-center">
            <h3 class="block-heading">Get free resources for your startup weekly</h3>
            <div class="block-intro">Subscribe to our newsletter to be the first to get the freebies.</div>
            <form class="subscribe-form form-inline" novalidate="novalidate">
                <div class="form-group">
                    <label class="sr-only" for="semail">Your Email</label>
                    <input type="text" id="semail" class="form-control email-field" placeholder="Enter your email address" name="email" required="" aria-required="true">
                    <button type="submit" class="btn btn-primary">Subscribe</button>  
                </div>                              
            </form>
        </div><!--//container-->
    </div><!--//blog-signup-block-->
