   
    
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper--> 
        <div class="container heading-content">                
            <h2 class="headline">Come Work With Us</h2>
            <div class="intro">Zinetgo CRM presents unrivalled career opportunities.<br class="hidden-xs"> It is time now to join Zinetgo  CRM! </div>
            <div class="actions">
                 <a class="scrollto-no-offset" href="#jobs-block">View available jobs</a>
                 <a class="scrollto-no-offset" href="#jobs-block"><img src="/public/images/arrow-icon.svg" alt=""></a>
            </div><!--//actions-->
        </div><!--//container-->
    </section><!--//heading-section-->
    
    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="page-nav nav list-inline">
                    <li><a class="scrollto" href="#culture-block">Company Culture</a></li>
                    <li><a class="scrollto"  href="#benefits-block">Benefits and Perks</a></li>
                    <li><a class="scrollto"  href="#jobs-block">Current Jobs</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->
    
    <div id="culture-block" class="culture-block">
        <div class="container">
            <h2 class="block-heading text-center">What it's like working at ZinetGo?</h2>
            <div class="block-intro text-center">
                <p>Our wоrking environment iѕ extremely friendly аnd thе brilliant team presents at Zinetgo that уоu wоrk with everyday will mаkе уоu feel likе a vital mеmbеr оf thе team. Our team iѕ vеrу talented with dedicated, passionate individuals aligned with a common goal tо mаkе thе company аnd customers successful.</p>
                
            </div>
            <div class="video-holder">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/4exZjLFTVd4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            
        </div><!--//container-->
    </div><!--//job/details-block-->
    
    <div id="benefits-block" class="benefits-block">
        <div class="container">
            <h2 class="block-heading text-center">Benefits and Perks</h2>
            <div class="block-intro text-center">
                <p>We offer lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                <ul class="list-unstyled text-center benefits-list">
                    <li><i class="fa fa-check" aria-hidden="true"></i> Free lunch and snacks</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Modern Office</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited holidays</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Flexible working hours</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Medical insurance</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Great offsite activities</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Competitive Salary</li>
                </ul>
                
                <img class="img-responsive center-block" src="/public/images/career/office-space.jpg" alt="">
            </div><!--//block-intro-->
            <div class="text-center">
                
            </div>
        </div><!--//container-->
    </div><!--//job/details-block-->
    
    <div id="jobs-block" class="jobs-block">
        <div class="container">
            <h2 class="block-heading text-center">Current Job Vacancies</h2>
            <div class="block-intro text-center">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor, tempor convallis turpis. Sed in ornare urna. Interdum et malesuada fames. Please email your CV to <a href="#">jobs@zinetgo.com</a>
            </div>
            
            <div class="job-list text-center">
                <div class="item">
                    <h3 class="title"><a href="/job/detail">iOS App Developer</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Full-time</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Android Developer</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Full-time</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Senior Front-end Developer</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Full-time</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Senior Back-end Developer</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Full-time</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Product/UX/UI Designer</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Contract</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Visual Designer</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Contract</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Product Manager</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Full-time</li>
                            <li class="last">Bangalore</li>
                        </ul>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="/job/detail">Social Media Marketing/Community Manager</a></h3>
                    <div class="meta">
                        <ul class="list-inline">
                            <li>Part-time</li>
                            <li class="last">Remote</li>
                        </ul>
                    </div>
                </div><!--//item-->
                
            </div><!--//job/detail-list-->
            
        </div><!--//container-->
    </div><!--//job/details-block-->