
<% if (message.length > 0) { %>
    <div class="alert alert-danger">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"><i class="fa fa-times"></i>
        </button>
        <%= message %>
    </div>
<% } %>

<form class="forget-form" action="/forgot-password" method="post">
    <h3 class="font-green">Forget Password ?</h3>

    <p> Enter your mobile number below to reset your password. </p>
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Mobile Number" name="mobile" id="mobile" /> </div>
    <div class="form-actions">
        <a href="/login" class="btn btn-default">Back</a>
        <input type="hidden" name="_csrf" value="<%= token %>">
        <button type="submit" class="btn btn-success uppercase pull-right" id="change-password" value="Update">Submit</button>
    </div>
</form>