    <section class="promo-section section section-on-bg">
        <div class="hero-slider-wrapper">
            <div class="flexslider hero-slider">
                <ul class="slides">
                    <li class="slide slide-1"></li>
                    <li class="slide slide-2"></li>
                    <li class="slide slide-3"></li>
                </ul>
            </div>
            <div class="hero-slider-mask"></div>
        </div>

        <div class="container promo-content">                
            <h2 class="headline">The perfect platform to build <br> your online business</h2>
            <p class="tagline">Get a business website starting at <i class="fa fa-inr"></i> 999 only</p>
            <div class="actions">
                <a class="btn btn-cta btn-primary" href="#" data-toggle="modal" data-target="#signup-modal">Get a website</a>  
                <br class="visible-xs-block">
                <a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="/public/images/play-icon.svg" alt="">See how it works</a>
            </div>
        </div>
    </section>
    
    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li><a class="scrollto" href="#overview-section">Overview</a></li>
                    <li><a class="scrollto"  href="#features-section">Key Features</a></li>
                    <li><a class="scrollto"  href="#customers-section">Customers</a></li>
                    <li><a class="scrollto"  href="#signup-section">Get Started</a></li>
                    <li><a class="scrollto"  href="#support-section">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
        
    <section id="overview-section" class="overview-section section">
        <h2 class="section-title">
            A great way to build your online presence
        </h2>
        <div class="section-intro">
            We provide everything that small and medium businesses needs to go online. With zinetgo you can build a website, host a website, get custmers and manage your business on the go. We provide tools to boost your business online with integrated sales, marketing and CRM tools.
        </div>
        <div class="figures-wrapper">
            <div class="container text-center">
                <figure class="macbook-screen"><img class="img-responsive" src="/public/images/macbook-screen.png" alt=""></figure>
                <figure class="ipad-screen"><img class="img-responsive" src="/public/images/ipad-screen.png" alt=""></figure>
                <figure class="iphone-screen"><img class="img-responsive" src="/public/images/iphone-screen.png" alt=""></figure>
                <a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="/public/images/play-icon-md.svg" alt=""></a>
            </div>
        </div>
        <div class="benefits-wrapper">
            <div class="container text-center">
                <div class="row">
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="/public/images/icons/clock-white.svg" alt="">
                            <h3 class="item-title">Go Online In No Time</h3>
                            <div class="item-desc">
                                With Zinetgo website builder, you’re free to easily create an elegant website with nо coding skills and in no time.
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="/public/images/icons/presenter-white.svg" alt="">
                            <h3 class="item-title">Cost Effective Solution</h3>
                            <div class="item-desc">
                                While zinetgo provides many features it still works out to be economic and affordable for small businesses.
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="/public/images/icons/chat-white.svg" alt="">
                            <h3 class="item-title">Everything In One Place</h3>
                            <div class="item-desc">
                                You got everything in once place to build your online presence, market you business and manage it efficiently.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="press-wrapper">
            <div class="container">
               <div class="logos row">
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/public/images/logos/logo-1.svg" alt=""></div>
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/public/images/logos/logo-2.svg" alt=""></div>
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/public/images/logos/logo-3.svg" alt=""></div>
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/public/images/logos/logo-4.svg" alt=""></div>
               </div> 
            </div>
        </div> -->
    </section>
    
    <section id="features-section" class="features-section section">
        <h2 class="section-title">
            Key Features
        </h2>
        <div class="container">
            <div class="row">
                <div class="features-content-wrapper col-xs-12 col-sm-7 com-md-7">
                    <div class="intro">
                        Zinetgo соnsists of a rich collection оf applications аnd solutions such as websites &amp; website builder, CRM, online store, booking management, marketing automation, sales and support thаt enhance the functionality and growth of your business.
                    </div>
                    <ul class="feature-list list-unstyled">
                        <li><img class="tick-icon" src="/public/images/tick.svg" alt=""> Website Development</li>
                        <li><img class="tick-icon" src="/public/images/tick.svg" alt=""> Website Hosting</li>
                        <li><img class="tick-icon" src="/public/images/tick.svg" alt=""> Sales Automation</li>
                        <li><img class="tick-icon" src="/public/images/tick.svg" alt=""> Marketing Automation</li>
                        <li><img class="tick-icon" src="/public/images/tick.svg" alt=""> Service аnd Support</li>
                        
                        <li><img class="tick-icon" src="/public/images/tick.svg" alt=""> Data аnd Analytics</li>
                    </ul>
                    
                    <!-- <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <blockquote class="review center-block">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote>
                                <div class="source">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <img class="profile" src="/public/images/users/user-1.png" alt="" />
                                    <div class="name">Theresa Wood, Product Hunt</div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <blockquote class="review center-block">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote>
                                <div class="source">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <img class="profile" src="/public/images/users/user-2.png" alt="" />
                                    <div class="name">Rob Kim, Mashable</div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <blockquote class="review center-block">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote>
                                <div class="source">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <img class="profile" src="/public/images/users/user-3.png" alt="" />
                                    <div class="name">Kevin Howell, Wired</div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <ol class="carousel-indicators">
                            <li data-target="#reviews-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#reviews-carousel" data-slide-to="1"></li>
                            <li data-target="#reviews-carousel" data-slide-to="2"></li>
                        </ol>
                        
                    </div> -->
                </div>
            </div>
        </div>
        
        <div class="features-figure-wrapper">
            <img class="img-responsive" src="/public/images/imac-screen.png" alt="">
        </div>
        
        <!-- <div class="action-wrapper text-center">
            <a href="/features" class="btn btn-secondary">View all features</a>
        </div> -->
    </section>
    
    <section id="customers-section" class="customers-section section">
        <h2 class="section-title">Trusted by smart businesses</h2>
        <div class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum felis at lacus blandit egestas. Donec consectetur mollis leo, et pharetra massa eleifend mollis.</div>
        <div class="container">
            <div class="stories-wrapper row">
                <div class="item item-1 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Great website <br>design and execution</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>I am very pleased the way my website has come up. The design looks top notch and executed well in time.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="item item-2 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Better collaboration <br>with remote teams</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="item item-3 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Put UX at the heart of  <br>our SaaS business</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="item item-4 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">A new way to app <br>development</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-wrapper text-center">
                <a class="btn btn-secondary" href="/stories">All Customer Stories</a>
            </div>
        </div>
    </section>
    
    <section id="signup-section" class="signup-section section">
        <div class="section-inner">
            <div class="container text-center">
                <div class="counter-container">
                </div>
                
                <h2 class="counter-desc">Customers Worldwide</h2>
                
                <div class="form-wrapper">
                    <h2 class="form-title">Get Your Business Website Today</h2>
                    <div class="form-box">
                        <h3 class="form-heading">Starting at Rs. 999/= only</h3>
                        <div class="form-desc">Order now and get it delivered within 7 days <sup>*</sup></div>
                        <!-- <ul class="social-buttons list-unstyled">
                            <li><a href="#" class="btn btn-social btn-google"><i class="fa fa-google" aria-hidden="true"></i><span class="btn-text">Sign up with Google</span></a></li>
                            <li><a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-text">Sign up with Facebook</span></a></li>
                        </ul>
                        <div class="divider">
                            <span class="or-text">OR</span>
                        </div> -->
                        <form class="signup-form">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="firstname" class="sr-only">First Name</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="lastname" class="sr-only">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="firstname" class="sr-only">Email Address</label>
                                    <input type="email" class="form-control" id="emailaddress" name="emailaddress" placeholder="Email Address">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="mobile" class="sr-only">Mobile Number</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="domain" class="sr-only">Domain Name</label>
                                    <input type="text" class="form-control" id="domain" name="domain" placeholder="Domain Name">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="location" class="sr-only">Location</label>
                                    <input type="text" class="form-control" id="location" name="location" placeholder="Location">
                                </div>
                                
                            </div>
                            <div class="legal-note">By placing order, you agree to our terms of services and privacy policy.</div>
                            
                            <button type="submit" class="btn btn-primary btn-cta">Order Now</button>
                            <!-- <div class="alter-login">
                                Already have an account? <a href="/login">Log in</a>
                            </div> -->
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <section id="support-section" class="support-section section text-center">
        <h2 class="section-title">24/7 Customer Support</h2>
        <div class="section-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
        <a class="btn btn-secondary" href="/support">Our Support Center</a>
        <div class="team-figure">
            <img class="img-responsive support-team" src="/public/images/team.png" alt="">
        </div>
    </section>
    
    <!-- <section class="apps-section section text-center">
        <h2 class="section-title">Download Our Apps</h2>
        <div class="container">
            <ul class="apps-list list-inline">
                <li><a class="btn btn-download-app btn-apple-download" href="#"><i class="fa fa-apple" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Download on the</span><span class="main-text">App Store</span></span></a></li>
                <li><a class="btn btn-download-app btn-andriod-download" href="#"><i class="fa fa-android" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Get it on</span><span class="main-text">Google Play</span></span></a></li>
            </ul>
        </div>
    </section> -->
    

    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container embed-responsive embed-responsive-16by9">
                        <iframe  src="https://www.youtube.com/embed/Vj5dXIW8wpo" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>