<style type="text/css">
	.logo{
		text-align:center;
	}
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	    padding-left: 40px;
	    padding-right: 40px;
	    padding-top: 20px;
	}
	.col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.invoice-wrapper .invoice-wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdd3e2;
    border-radius: 4px;
    box-shadow: 0 0 1px #ccc;
    margin-top: 40px;
    padding: 40px 40px 60px;
}
td{
	text-align: center;
}

</style>
<body style="background-color: #eeeff1;">
	<div class="logo">
		<img src="https://www.truneto.com/images/truneto-logo-new-color-01.png">
	</div>
	<div class="container" style="background-color: white;">
		<div class="col-md-12">
			<div class="invoice-wrapper">
				<table  style="width: 100%">
					<tr>
						<th style="text-align: left;">Invoice No</th>
						<th style="text-align: right;"">Invoice Date</th>
					</tr>
					<tr>
						<td style="text-align: left; padding-top: 10px;">
							88348943
						</td>
						<td style="text-align: right; padding-top: 10px;">
							Feb 09, 2019 - 03:44 pm
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>	
