<div class="row">
    <div class="col-md-12 coming-soon-content text-center">
        <h1>Server under maintenance</h1>
        <p> We are migrating our server. We will be back very soon.</p>
        <br>

        <p>
            <h4 style="color:#fefefe;">Contact us for any queries</h4><br>
            <a href="tel:+918026644556" style="color:#fefefe;">080-26644556</a><br>
            <a href="mailto:support@zinetgo.com" style="color:#fefefe;">support@zinetgo.com</a>
        </p>
    </div>
</div>
