    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper--> 
        <div class="container heading-content">                
            <h2 class="headline">Our Pricing is Simple and Flexible</h2>
            <div class="intro">You can change your plan at any time.</div>
            <div class="actions">
                 <a class="scrollto" href="#pricing-block">View Plans</a>
                 <a class="scrollto" href="#pricing-block"><img src="/public/images/arrow-icon.svg" alt=""></a>
            </div><!--//actions-->
        </div><!--//container-->
    </section><!--//heading-section-->
    
    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="page-nav nav list-inline">
                    <li><a class="scrollto" href="#pricing-block">Pricing</a></li>
                    <li><a class="scrollto"  href="#faqs-block">FAQs</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->
    
    <div class="pricing-block" id="pricing-block">
        <div class="container">
            <h2 class="block-heading text-center">30 day FREE trial with all plans! </h2>
            <div class="row">
                <div class="item item-1 col-xs-12 col-sm-6 col-md-3">
                    <div class="item-inner">
                        <div class="summary-box text-center">
                            <h3 class="item-heading">Starter</h3>
                            <div class="item-intro">For basic use lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="number">5</span>
                            </div><!--//price-->
                            <div class="unit">Per month</div>
                            <div class="action">
                                <div class="btn-container"><a href="#" class="btn btn-secondary btn-ghost">Sign Up Now</a></div>
                                <div class="note">(30 day free trial)</div>
                            </div>
                        </div><!--//summary-box-->
                        <div class="details-box">
                            <ul class="details-list list-unstyled">
                                <li><i class="fa fa-check" aria-hidden="true"></i> 1 User</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 10 GB file storage</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Email support</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>
                            </ul>
                        </div><!--//details-box-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-2 col-xs-12 col-sm-6 col-md-3">
                    <div class="item-inner">
                        <div class="summary-box text-center">
                            <h3 class="item-heading">Pro</h3>
                            <div class="item-intro">For pro use lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="number">10</span>
                            </div><!--//price-->
                            <div class="unit">Per month</div>
                            <div class="action">
                                <div class="btn-container"><a href="#" class="btn btn-secondary btn-ghost">Sign Up Now</a></div>
                                <div class="note">(30 day free trial)</div>
                            </div>
                        </div><!--//summary-box-->
                        <div class="details-box">
                            <ul class="details-list list-unstyled">
                                <li><i class="fa fa-check" aria-hidden="true"></i> 10 User</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 30 GB file storage</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Email priority support</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option one</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option two</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option three</li>
                            </ul>
                        </div><!--//details-box-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-3 item-popular col-xs-12 col-sm-6 col-md-3">
                    <div class="item-inner">
                        <div class="popular-tag text-center">
                            Most Popular
                        </div>
                        <div class="summary-box text-center">
                            <h3 class="item-heading">Team</h3>
                            <div class="item-intro">For team use lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="number">25</span>
                            </div><!--//price-->
                            <div class="unit">Per month</div>
                            <div class="action">
                                <div class="btn-container"><a href="#" class="btn btn-secondary btn-ghost">Sign Up Now</a></div>
                                <div class="note">(30 day free trial)</div>
                            </div>
                        </div><!--//summary-box-->
                        <div class="details-box">
                            <ul class="details-list list-unstyled">
                                <li><i class="fa fa-check" aria-hidden="true"></i> 100 User</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 100 GB file storage</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Email priority support</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option one</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option two</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option three</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option four</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option five</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option six</li>
                            </ul>
                        </div><!--//details-box-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-4 col-xs-12 col-sm-6 col-md-3">
                    <div class="item-inner">
                        <div class="summary-box text-center">
                            <h3 class="item-heading">Enterprise</h3>
                            <div class="item-intro">For team use lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                            <div class="price">
                                <span class="currency">$</span>
                                <span class="number">299</span>
                            </div><!--//price-->
                            <div class="unit">Per month</div>
                            <div class="action">
                                <div class="btn-container"><a href="#" class="btn btn-secondary btn-ghost">Sign Up Now</a></div>
                                <div class="note">(30 day free trial)</div>
                            </div>
                        </div><!--//summary-box-->
                        <div class="details-box">
                            <ul class="details-list list-unstyled">
                                <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited User</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited file storage</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 support</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free update</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Native apps</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option one</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option two</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option three</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option four</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option five</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option six</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option seven</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option eight</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option nine</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advanced option ten</li>
                            </ul>
                        </div><!--//details-box-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//pricing-block-->
        
    <div class="faqs-block" id="faqs-block">
        <div class="container">
            <h2 class="block-heading text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="fa fa-plus-square"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq1" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel-->
            
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel-->
            
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>How does the morbi quam tortor work?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel-->
                    
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel--> 
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Is it possible to tellus eget auctor condimentum?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel-->
            
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i>Would it elementum turpis semper imperdiet?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq6">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel-->
            
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>How can I imperdiet lorem sem non nisl?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel-->
                    
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i>Can I imperdiet massa ut?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div><!--//panel--> 
                </div>
            </div><!--//row-->

        </div>
    </div><!--//faqs-block-->
