<div class="row">
    <div class="col-md-12 coming-soon-content text-center">
        <h1><%= (data && data.name != undefined )? 'Dear ' + data.name + '!' : '' %></h1>
        <h2 style="color:#ffffff;">Thank you for signing up!</h1>
        <p> Your account is undergoing verification process which usually takes upto 24 hours. You will be notified once your account is active.</p>
        <br>

        <p>
            <h4 style="color:#fefefe;">Contact us for any queries</h4><br>
            <a href="tel:+918026644556" style="color:#fefefe;">080-26644556</a><br>
            <a href="mailto:support@zinetgo.com" style="color:#fefefe;">support@zinetgo.com</a>
        </p>

        <!-- <ul class="social-icons margin-top-20 text-center">
            <li>
                <a href="https://www.facebook.com/zinetgo" data-original-title="Facebook" class="facebook" target="_blank"> </a>
            </li>
            <li>
                <a href="https://twitter.com/ZinetGo" data-original-title="Twitter" class="twitter" target="_blank"> </a>
            </li>
            <li>
                <a href="https://plus.google.com/113646079003834560272" data-original-title="Goole Plus" class="googleplus" target="_blank"> </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/company/17878438" data-original-title="Linkedin" class="linkedin" target="_blank"> </a>
            </li>
        </ul> -->
    </div>
    <!-- <div class="col-md-6 coming-soon-countdown">
        <input type="hidden" id="rd" value="<%= (data && data.createdOn != undefined) ? data.createdOn : Date.now() %>"/>
        <div id="defaultCountdown"> </div>
    </div> -->
</div>
