    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper--> 
        <div class="container heading-content">                
            <h2 class="headline">How can we help?</h2>
            <form class="search-box form-inline text-center margin-bottom-lg">
				<label class="sr-only" for="help-search-form">Search</label>
				<div class="form-group">
					<input id="help-search-form" name="search-form" type="text" class="form-control help-search-form" placeholder="Search questions...">
					<button type="submit" class="btn btn-primary btn-single-icon"><i class="fa fa-search"></i></button>
				</div>
			</form>
            <div class="actions">
                 <a class="scrollto-no-offset" href="#topics-block">View Popular Topics</a>
                 <a class="scrollto-no-offset" href="#topics-block"><img src="/public/images/arrow-icon.svg" alt=""></a>
            </div><!--//actions-->
        </div><!--//container-->
    </section><!--//heading-section-->
    
    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="page-nav nav list-inline">
                    <li><a class="scrollto" href="#topics-block">Popular Help Topics</a></li>
                    <li><a class="scrollto"  href="#articles-block">Featured Articles</a></li>
                    <li><a class="scrollto"  href="#tips-block">Tips &amp; Tricks</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->
    
    <div class="topics-block" id="topics-block">
        <div class="container text-center">
            <h2 class="block-heading ">Popular Help Topics</h2>
            <div class="row">
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">&#xE8E8;</i>
                        </div>
                        <h3 class="title">Quick Start</h3>
                        <div class="intro">Intro lorem ipsum dolor sit amet consectetuer adipiscing elit.</div>
                        <a class="link" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">&#xE6C4;</i>
                        </div>
                        <h3 class="title">Charts</h3>
                        <div class="intro">Intro lorem ipsum dolor sit amet consectetuer adipiscing elit.</div>
                        <a class="link" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">&#xE913;</i>
                        </div>
                        <h3 class="title">Mobile Apps</h3>
                        <div class="intro">Intro lorem ipsum dolor sit amet consectetuer adipiscing elit.</div>
                        <a class="link" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">&#xE87B;</i>
                        </div>
                        <h3 class="title">Extensions</h3>
                        <div class="intro">Intro lorem ipsum dolor sit amet consectetuer adipiscing elit.</div>
                        <a class="link" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">&#xE87A;</i>
                        </div>
                        <h3 class="title">Explore</h3>
                        <div class="intro">Intro lorem ipsum dolor sit amet consectetuer adipiscing elit.</div>
                        <a class="link" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">&#xE869;</i>
                        </div>
                        <h3 class="title">Build</h3>
                        <div class="intro">Intro lorem ipsum dolor sit amet consectetuer adipiscing elit.</div>
                        <a class="link" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->

                
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//topics-block-->
    
    <div class="articles-block" id="articles-block">
        <div class="container text-center">
            <h2 class="block-heading">Featured Articles</h2>
            <div class="row text-left">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul>
                        <li><a href="#">How to lorem ipsum?</a></li>
                        <li><a href="#">How to curabitur malesuada hendrerit?</a></li>
                        <li><a href="#">Can I gravida quis diam ac euismod?</a></li>
                        <li><a href="#">What is consectetur aliquam tortor?</a></li>     
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul>
                        <li><a href="#">What is lorem ipsum?</a></li>
                        <li><a href="#">Can I gravida quis diam ac euismod?</a></li>
                        <li><a href="#">Can I  aliquam tortor?</a></li>
                        <li><a href="#">How to lorem ipsum?</a></li>     
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul>
                        <li><a href="#">How to lorem ipsum?</a></li>
                        <li><a href="#">How to curabitur malesuada hendrerit?</a></li>
                        <li><a href="#">Can I gravida quis diam ac euismod?</a></li>
                        <li><a href="#">What is consectetur aliquam tortor?</a></li>     
                    </ul>
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//articles-block-->
    
    <div class="tips-block" id="tips-block">
        <div class="container text-center">
            <h2 class="block-heading">Tips &amp; Tricks</h2>
            <div class="row text-left">
                <div class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-inner">
                        <div class="figure-holder"><i class="material-icons">&#xE90F;</i></div>
                        <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-inner">
                        <div class="figure-holder"><i class="material-icons">&#xE8FF;</i></div>
                        <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-inner">
                        <div class="figure-holder"><i class="material-icons">&#xE864;</i></div>
                        <div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                
                
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//tips-block-->
    
    <div class="extra-block">
        <div class="container text-center">
            <h3 class="block-heading">Can't find what you are looking for?</h3>
            <a class="btn btn-primary" href="/contact">Contact Us</a>
        </div>
    </div>