<link href="/al/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="/al/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />

<div id="addSalaryModal" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">Add Salary</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form action="#"> 
                <h4>Salary Information</h4>
                <p> Gross Salary<span style="color:red;"> * </span>
                    <input type="text" class="form-control" id="grossSalary" name="grossSalary" required=""> </p>
                <p> Date<span style="color:red;"> * </span>
                    <input type="text" value="" size="16" class="form-control form-control-inline date-picker" name="sDate" id="sDate" data-date-format="mm-dd-yyyy"> </p>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn green" data-dismiss="modal" id="addSalary">Submit</button>
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>
    </div>
</div>