
<div id="invoice" class="modal fade" tabindex="-1" data-width="1000" class="modal-sample-pdf" style="margin-left: 0px; width: 100%; left: 0px;">
    <div class="modal-header">
    <a class="btn btn-lg blue hidden-print margin-bottom-5" id="download-me"> Print
        <i class="fa fa-print"></i>
    </a>
        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
    </div>
    <div class="page-content-wrapper print" id="pdf">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="min-height: 1399px;">
            <h1 class="page-title"> 
            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="invoice">
                <div class="row invoice-logo">
                    <div class="col-xs-6 invoice-logo-space">
                        <%if(user.coverImage && user.coverImage!=''){ %>
                            <img class="img-responsive" src="<%= user.coverImage %>"> 
                            <br>
                            <br>
                          <%}else{%>
                            <strong class="uppercase"><%= user.name %></strong>
                        <%}%>
                    </div>
                    <div class="col-xs-6">
                        <p class="pull-right"> <span id="oId"></span> /<span id="oDate"></span>
                            
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Billing Address:</h3>
                        <ul class="list-unstyled">
                            <li class="billName">  </li>
                            <li class="billMobile"> </li>
                            <li class="billEmail"></li>
                            <li class="billLandmark"> </li>
                            <li class="shipLandmark"></li>
                            <li class="billCountry"></li>
                            <li class="billPin"></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 invoice-payment pull-right">
                        <h3>Shipping Adress:</h3>
                        <ul class="list-unstyled">
                            <li class="shipName"> </li>
                            <li class="shipMobile"></li>
                            <li class="shipEmail"> </li>
                            <li class="shipaddress"></li>
                            <li class="shipLandmark"> </li>
                            <li class="shipCountry">  </li>
                            <li class="shipPin"> </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Item </th>
                                    <th class="hidden-xs"> Price </th>
                                    <th class="hidden-xs"> Quantity </th>
                                    <th> Total </th>
                                </tr>
                            </thead>
                            <tbody class='cData'>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-2">
                        <table class="table table-striped table-hover">
                            <thead>
                                 <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td align="right">Sub Total: <span id="netTotal1"></span></td>
                            </tr>
                            <tr>
                                <td align="right">Delivery:<span id="deliveryCharge1"></span></td>
                            </tr>
                            <tr>
                                <td align="right">Grand Total:<span id="grossTotal1"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
              
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
</div>

