<section id="cta-section" class="cta-section section text-center home-cta-section">
    <div class="container">
       <h2 class="title">Want to have a quick chat?</h2>
       <p class="phone contact-info">
           <span class="intro">We are only a phone call away</span>
           <span class="info"><a href="tel:+918026644556">+91 802 664 4556</a></span>
       </p>
       <p class="email contact-info">
           <span class="intro">You can also email us</span>
           <span class="info"><a href="mailto:support@zinetgo.com">support@zinetgo.com</a></span>
       </p>
    </div>
</section>