    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <!-- <li class="slide slide-1"></li> -->
                <!-- <li class="slide slide-2"></li> -->
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div>
    <section id="home-promo" class="home-promo section">
        <div class="container text-center">                
            <h2 class="title">
                <span class="upper">We build</span>
                <span class="middle">Amazing Websites</span>
                <span class="bottom">for small and medium businesses</span>
            </h2>
            <button class="btn btn-cta btn-cta-primary" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static">Talk to us</button>
        </div>
    </section>
</div>
<section id="who" class="who section">
    <div class="container text-center">
        <h2 class="title text-center">Who we are</h2>
        <p class="intro text-center">We are a small team of web developers and designers based in Bangalore. A dedicated and passion-filled group of professionals that come from every corner of the nation. Each bringing their own expertise and quirks!</p>
        <div class="row benefits text-center">
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>                        
                    <h3 class="sub-title">Skilled team</h3>
                    <div class="desc">
                        <p>We are highly experienced and certified group of web and mobile design and development professionals.</p>
                    </div>                
                </div>       
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 sm-break">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
                    <h3 class="sub-title">Agile approach</h3>
                    <div class="desc">
                        <p>We respond to unpredictability through incremental, iterative work cadences and empirical feedback.</p>
                    </div>   
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
                    <h3 class="sub-title">Latest technology</h3>
                    <div class="desc">
                        <p>We always work on latest technology stack so that your return on investment go the long way.</p>
                    </div>            
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>                        
                    <h3 class="sub-title">Budget efficient</h3>
                    <div class="desc">
                        <p>Wе offer exceptional services with nо hidden costs оr unexpected expenses tо disrupt уоur budget.</p>
                    </div>         
                </div>
            </div>
        </div>
        <a class="btn btn-cta btn-cta-secondary" href="/about">More about us</a>
    </div>
</section>

<!-- ******Latest work section****** -->
<section id="latest-work" class="latest-work section">
    <div class="container-fluid text-center">
        <h2 class="title text-center">Our Latest Work</h2>
        <div id="work-carousel" class="items owl-carousel owl-theme">
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a href="http://skdeepcleaning.com" target="_blank">
                            <img src="/ps/images/work/work-example-1.1.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">SK Deep Cleaning Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> SK Deep Cleaning Services</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>SK Deep Cleaning is a cleaning service company in Bangalore. They provide complete cleaning service for residential and commercial sites. Company guidelines for operation are strictly enforced to ensure that all government regulations and licensing controls are adhered to.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="case-study-1.html">Read full case study</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://skdeepcleaning.com" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a class="img-link" href="http://curtainsnmore.in" target="_blank">
                            <img src="/ps/images/work/work-example-2.1.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">Curtains n More Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> Attire Fabrics Pvt Ltd</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>“Curtains N More" is one of the leading Retail Merchandise Store catering to all your furnishing needs. We are the providers of best quality products with assured services. Since our first stepping-stone, almost 5-6 years back, we have tried to provide the best to our customers.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="case-study-2.html">Read full case study</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://curtainsnmore.in" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a class="img-link" href="http://www.geocentroid.com" target="_blank">
                            <img src="/ps/images/work/work-example-3.1.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">GeoCentroid Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> GeoCentroid Pvt Ltd</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>GeoCentroid Private limited a consulting firm offering Geospatial, Engineering and BIM related Services for the Infrastructure, GIS, Civil (AEC), Urban planning, Utility, and Geomatics industry.</p>
                                <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="case-study-1.html">Read full case study</a></p>
                                <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://www.geocentroid.com" target="_blank">Website link</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-cta btn-cta-secondary" href="/work">View all case projects</a>
    </div>
</section>

<!-- ******Testimonials Section****** -->
<section id="testimonials" class="testimonials section">
    <div class="container">
        <h2 class="title text-center">Testimonials</h2>
        <p class="intro text-center">Don’t just take our word for it – see what our clients are saying</p>
        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">Zinetgo is one of the best platform for startups to go online. They provide end to end solution. We got our business up and running within a month and now we are getting leads more than we can actually serve.
                        </blockquote>
                    </div>
                    <div class="meta">
                        <div class="profile">
                            <img class="img-circle" src="/ps/images/client/skdeepcleaning-suman-kumar.jpg" alt="" />
                            <p class="name">Suman Kumar<br />
                                <span class="source-title">Co-Founder</span><br />
                                <!-- <a href="#"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br /> -->
                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div>
                        <div class="client-logo">
                            <img class="img-responsive" src="/ps/images/client/skdeepcleaning-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote"> Zinetgo is one company, I would definitely recommend to all my bussiness allies to at least try once and get the experience of Zinetgo's incredible products and services. Then you will realize the difference they have from the rest.
                        </blockquote>
                    </div>
                    <div class="meta">
                       <div class="profile">
                            <img class="img-circle" src="/ps/images/client/curtains-n-more-pradeep-agrawal.jpg" alt="" />
                            <p class="name">Pradeep Agrawal<br />
                                <span class="source-title">Founder</span><br />
                                <a href="#" class="play-trigger" data-toggle="modal" data-target="#video-testimonial-pradeep"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />
                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div> 
                        <div class="client-logo">
                            <img class="img-responsive" src="/ps/images/client/curtains-n-more-logo.png" alt="" />
                        </div>
                    </div>    

                   <!--  <p class="video-container">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/iNhHky0UVbg" frameborder="0" allowfullscreen></iframe>
                    </p> -->
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">Zinetgo is the go to company for small &amp; medium enterprises for end to end business solutions. I would strongly recommend Zinetgo (digital platform) to grow your business online and reach out to the sky.                        
                        </blockquote>
                    </div>
                    <div class="meta">
                        <div class="profile">
                            <img class="img-circle" src="/ps/images/client/geocentroid-vinod-kumar.jpg" alt="" />
                            <p class="name">
                                Vinod Kumar <br />
                                <span class="source-title">Founder</span><br />
                                <a href="#" class="play-trigger" data-toggle="modal" data-target="#video-testimonial-vinod"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />
                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div>
                        <div class="client-logo">
                            <img class="img-responsive" src="/ps/images/client/geocentroid-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">Zinetgo provides all the digital solutions that a small and medium businesses needs under one roof. I will recommend all kind of business people to come to this platform and grow their business online.
                        </blockquote>
                    </div>
                    <div class="meta">
                        <div class="profile">
                            <img class="img-circle" src="/ps/images/client/vijay-home-services-pankaj-choudhary.jpg" alt="" />
                            <p class="name">Pankaj Choudhary<br />
                                <span class="source-title">Founder</span><br />
                                <a href="#" class="play-trigger" data-toggle="modal" data-target="#video-testimonial-pankaj"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />
                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div>
                        <div class="client-logo">
                            <img class="img-responsive" src="/ps/images/client/vijay-home-services-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ******Logos Section****** -->
<!-- <section id="logos" class="logos section">
    <div class="container text-center">
        <h2 class="title">Who we have worked with</h2>
        <p class="intro">SaaS / Mobile apps / Marketing sites / Internal apps</p>
        <ul class="logo-list list-inline row">
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-1.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-2.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-3.png" alt="" /></a></li>                   
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-4.png" alt="" /></a></li> 
        </ul>
        <ul class="logo-list list-inline row last">
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-5.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-6.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-7.png" alt="" /></a></li>                   
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="/ps/images/logos/logo-8.png" alt="" /></a></li>                   
        </ul>
    </div>
</section> -->

<!-- ******CTA Section****** -->
<%- partial('ps/website/cta') %> 

<!-- ******Latest blog Section****** -->
<section id="latest-blog" class="latest-blog section">
    <div class="container">
        <h2 class="title text-center">Latest Blog Posts</h2>
        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="blog-post.html"><img class="img-responsive" src="/ps/images/blog/blog-thumb-1.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="blog-post.html">DevStudio helps XYZ launch</a></h3>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus, nec mattis nibh eleifend. Duis et enim at lacus pharetra mollis molestie nec magna. Maecenas tristique laoreet tristique. Ut pellentesque diam nec odio hendrerit euismod.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="blog-post.html"><img class="img-responsive" src="/ps/images/blog/blog-thumb-2.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="blog-post.html">devAid - Free Bootstrap Theme</a></h3>
                        <div class="desc">
                            <p>Mauris libero leo, dapibus a congue ut, mollis sed nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus augue nec nulla ultricies, <a href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Download now</a> vitae tincidunt lacus scelerisque.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="blog-post.html"><img class="img-responsive"  src="/ps/images/blog/blog-thumb-3.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="blog-post.html">DevStudio Team Lorem Ipsum</a></h3>
                        <div class="desc">
                            <p>In vel mauris consequat, ullamcorper diam id, eleifend tellus. Phasellus elementum facilisis eleifend. Nullam imperdiet odio massa, et blandit augue porta vehicula. Proin venenatis ullamcorper enim, in vulputate nisi luctus eget. Justo vitae tincidunt vestibulum. Cras consectetur lacinia massa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="blog-post.html"><img class="img-responsive" src="/ps/images/blog/blog-thumb-4.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="blog-post.html">Our Consectetur Adipiscing</a></h3>
                        <div class="desc">
                            <p>Aenean eget molestie ipsum, in commodo felis. Sed vitae enim est. Nunc at eros id purus vulputate elementum in vel nisi. Donec tempus turpis et viverra semper. Curabitur facilisis sem elit, vitae condimentum enim auctor ac. Sed orci magna, euismod eu mi eu, fringilla tincidunt orci. Phasellus molestie.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Modal -->
<div class="modal modal-contact" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="contactModalLabel" class="modal-title text-center">Start your project today</h4>
                <p class="intro text-center">Have any idea in mind that you want to go online with or build your business website, we can surely help you. Get in touch with us for any further details.</p>
            </div>
            <div class="modal-body">
                <ul class="contact-info list-inline text-center">
                    <li class="tel">
                        <a href="tel:+918026644556">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe090;"></span><br /> 
                            +91 802 664 4556
                        </a>
                    </li>
                    <li class="email">
                        <a href="mailto:support@zinetgo.com">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br /> 
                            support@zinetgo.com
                        </a>
                    </li>
                </ul>
                <form id="contact-form" class="contact-form" method="post" action="#">                    
                    <div class="row text-center">
                        <div class="contact-form-inner">
                            <div class="row">                                                           
                                
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="sr-only" for="cname">Your name</label>
                                    <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required>
                                </div>                    
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="sr-only" for="cemail">Email address</label>
                                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="sr-only" for="cmobile">Mobile Number</label>
                                    <input type="text" class="form-control" id="cmobile" name="cmobile" placeholder="Your mobile number" maxlength="10" required>
                                </div>                    
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="sr-only" for="ccity">City</label>
                                    <input type="email" class="form-control" id="ccity" name="ccity" placeholder="Your city" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="sr-only" for="cmessage">Your message</label>
                                    <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="10" required></textarea>
                                </div>
                                 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Submit Your Request</button>
                                </div>                           
                            </div>
                        </div>
                    </div>
                    <div id="form-messages"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->  
<!-- <div class="config-wrapper">
    <div class="config-wrapper-inner">
        <a id="config-trigger" class="config-trigger" href="#"><span class="fs1" aria-hidden="true" data-icon="&#x67;"></span></a>
        <div id="config-panel" class="config-panel">
            <h5>Choose Colour</h5>
            <ul id="color-options" class="list-unstyled list-inline">
                <li class="theme-1 active" ><a data-style="/ps/css/styles.css" href="#"></a></li>
                <li class="theme-2"><a data-style="/ps/css/styles-2.css" href="#"></a></li>
                <li class="theme-3"><a data-style="/ps/css/styles-3.css" href="#"></a></li>
                <li class="theme-4"><a data-style="/ps/css/styles-4.css" href="#"></a></li>                   
                <li class="theme-5"><a data-style="/ps/css/styles-5.css" href="#"></a></li>                     
                <li class="theme-6"><a data-style="/ps/css/styles-6.css" href="#"></a></li>
                <li class="theme-7"><a data-style="/ps/css/styles-7.css" href="#"></a></li>
                <li class="theme-8"><a data-style="/ps/css/styles-8.css" href="#"></a></li>                    
                <li class="theme-9"><a data-style="/ps/css/styles-9.css" href="#"></a></li>
                <li class="theme-10"><a data-style="/ps/css/styles-10.css" href="#"></a></li>
            </ul>
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
</div> -->

<div class="modal modal-video" id="video-testimonial-pradeep" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="video-container embed-responsive embed-responsive-16by9" id="yt-player1">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/iNhHky0UVbg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-video" id="video-testimonial-vinod" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="video-container embed-responsive embed-responsive-16by9">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/BaOJyhlnDg0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-video" id="video-testimonial-pankaj" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="video-container embed-responsive embed-responsive-16by9">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/sp_iDrRM99w" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
