          <section class="promo section">
            <div class="container text-center">
                <h2 class="title">Our Work</h2>
                <p class="intro">Our approach to build the websites and apps is very simple and honest. We work in an agile environment to deliver the best top class work with very high quality.</p>
            </div>
        </section>
    </div>
       
    <section id="work-list" class="section work-list">
        <div class="container text-center">
            <h2 class="title">Projects</h2>
            <div id="filters" class="button-group clearfix">
                    <button class="btn button is-checked" data-filter="*">All</button>
                    <button class="btn button" data-filter=".booking">Booking</button>
                    <button class="btn button" data-filter=".online-store">Online Store</button>
                    <button class="btn button" data-filter=".colleges">Colleges</button>
                    <button class="btn button" data-filter=".startup">Startup</button>
                    <button class="btn button last" data-filter=".agency">Agency</button>
                </div>
            <div class="items-wrapper isotope row">
                <div class="item startup booking col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/skdeepcleaning.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">SK Deep Cleaning Website</a></h3>
                            <div class="meta">Services / Booking / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item startup mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/curtainsnmore.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Curtains 'n' More Website</a></h3>
                            <div class="meta">Shop / eCommerce / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item startup website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/vijayhomeservices.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Vijay Home Services Website</a></h3>
                            <div class="meta">Services / Booking / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/geocentroid.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">GeoCentroid Website</a></h3>
                            <div class="meta">Services / Engineering / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/komb-klips.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Komb &amp; Klips Website</a></h3>
                            <div class="meta">Services / Salon / Website / CRM </div>
                        </div>
                    </div>
                </div>
                
                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/bsfit.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">BSF IT Website</a></h3>
                            <div class="meta">College / Education / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/bwwa-bangalore.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">BWWA Bangalore Website</a></h3>
                            <div class="meta">Welfare / Non profit / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/paalfinancialservices.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Paal Financial Services Website</a></h3>
                            <div class="meta">Services / Finance / Website / CRM </div>
                        </div>
                    </div>
                </div>

                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="/ps/images/work/sangrila-salon.jpg" alt="" /></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary" >View case study</span>
                            </a>
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Sangrila Salon Website</a></h3>
                            <div class="meta">Services / Salon / Website / CRM </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <!-- ******Services Section****** -->
    <section id="services" class="services section">
        <div class="container text-center">
            <h2 class="title">Services</h2>
            <p class="intro">We offer lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <div class="service-items row">
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Static Websites</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae diam magna. Curabitur nibh metus, ultricies sed aliquam euismod, scelerisque eu purus. In hac habitasse platea dictumst. Suspendisse tempus elit eget libero suscipit pulvinar.</p>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe0ea;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Dynamic Websites</h3>
                            <p>Phasellus fermentum accumsan fermentum. Vestibulum elit sapien, consequat vitae auctor sit amet, elementum sed elit. Quisque ullamcorper quis augue sit amet porttitor. Maecenas ac dolor iaculis, dapibus.</p>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe003;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Responsive Websites</h3>
                            <p>Cras mollis ex sed tortor finibus, a mattis risus rhoncus. Sed sodales et metus at sodales. Ut non dolor sollicitudin, venenatis mauris eget, fringilla enim. Pellentesque sed magna ante. Cras mollis tincidunt lectus vitae suscipit.</p>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe028;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Support &amp; Maintenance</h3>
                            <p>Aliquam efficitur, lorem blandit dapibus viverra, erat turpis placerat lacus, quis hendrerit libero sem eget dui. Integer eu diam orci. Nullam sed dictum lorem. Quisque ut lacus non enim aliquam pretium sit amet id augue.</p>
                        </div>
                    </div>
                </div>
            </div><!--//row-->   
            <a class="btn btn-cta btn-cta-primary" href="contact.html">Get a quote</a>         
        </div><!--//container-->
    </section>
        
    <!-- ******CTA Section****** -->
    <%- partial('ps/website/cta') %> 