<style type="text/css">
element.style {
    left: 0;
    top: 0;
    width: 322px;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.cbp, .cbp *, .cbp *::after, .cbp::after, .cbp-l-filters-alignCenter, .cbp-l-filters-alignCenter *, .cbp-l-filters-alignCenter .cbp-filter-counter::after, .cbp-l-filters-alignLeft, .cbp-l-filters-alignLeft *, .cbp-l-filters-alignRight, .cbp-l-filters-alignRight *, .cbp-l-filters-alignRight .cbp-filter-counter::after, .cbp-l-filters-button, .cbp-l-filters-button *, .cbp-l-filters-button .cbp-filter-counter::after, .cbp-l-filters-buttonCenter, .cbp-l-filters-buttonCenter *, .cbp-l-filters-buttonCenter .cbp-filter-counter::after, .cbp-l-filters-dropdown, .cbp-l-filters-dropdown *, .cbp-l-filters-dropdownHeader::after, .cbp-l-filters-list, .cbp-l-filters-list *, .cbp-l-filters-work, .cbp-l-filters-work *, .cbp-l-filters-big, .cbp-l-filters-big *, .cbp-l-filters-text, .cbp-l-filters-text *, .cbp-l-filters-text .cbp-filter-counter::after, .cbp-l-filters-underline, .cbp-l-filters-underline *, .cbp-popup-wrap, .cbp-popup-wrap *, .cbp-popup-wrap::before, .cbp-popup-loadingBox::after, .cbp-l-loadMore-bgbutton, .cbp-l-loadMore-bgbutton *, .cbp-l-loadMore-button, .cbp-l-loadMore-button *, .cbp-l-loadMore-text, .cbp-l-loadMore-text *, .cbp-search, .cbp-search *, .cbp-search-icon::after {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.cbp .cbp-item {
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
}
.cbp-item {
    display: inline-block;
    margin: 0 10px 20px 0;
}
.cbp, .cbp *, .cbp *::after, .cbp::after, .cbp-l-filters-alignCenter, .cbp-l-filters-alignCenter *, .cbp-l-filters-alignCenter .cbp-filter-counter::after, .cbp-l-filters-alignLeft, .cbp-l-filters-alignLeft *, .cbp-l-filters-alignRight, .cbp-l-filters-alignRight *, .cbp-l-filters-alignRight .cbp-filter-counter::after, .cbp-l-filters-button, .cbp-l-filters-button *, .cbp-l-filters-button .cbp-filter-counter::after, .cbp-l-filters-buttonCenter, .cbp-l-filters-buttonCenter *, .cbp-l-filters-buttonCenter .cbp-filter-counter::after, .cbp-l-filters-dropdown, .cbp-l-filters-dropdown *, .cbp-l-filters-dropdownHeader::after, .cbp-l-filters-list, .cbp-l-filters-list *, .cbp-l-filters-work, .cbp-l-filters-work *, .cbp-l-filters-big, .cbp-l-filters-big *, .cbp-l-filters-text, .cbp-l-filters-text *, .cbp-l-filters-text .cbp-filter-counter::after, .cbp-l-filters-underline, .cbp-l-filters-underline *, .cbp-popup-wrap, .cbp-popup-wrap *, .cbp-popup-wrap::before, .cbp-popup-loadingBox::after, .cbp-l-loadMore-bgbutton, .cbp-l-loadMore-bgbutton *, .cbp-l-loadMore-button, .cbp-l-loadMore-button *, .cbp-l-loadMore-text, .cbp-l-loadMore-text *, .cbp-search, .cbp-search *, .cbp-search-icon::after {
    box-sizing: border-box;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    border-radius: 0 !important;
}

.cbp-l-caption-alignCenter {
    display: table;
    height: 100%;
    width: 100%;
}
.cbp-l-caption-alignCenter .cbp-l-caption-body {
    display: table-cell;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}
</style>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span>Quotation-Templete</span></li>
            </ul>
        </div>
        <h1 class="page-title"></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="form-alerts"> 
                </div>

                <div class="portlet light bordered" id="orders_portlet">
                    <div class="portlet-title">
                        <div class="caption font-blue-hoki">
                            <i class="fa fa-envelope-o"></i>
                            <span class="caption-subject bold uppercase">Quotation Preview </span>
                        </div>

                        <div class="dt-buttons pull-right">
                            <%- partial('partials/al/table-tools') %>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="dataTables_wrapper no-footer">
                            <div class="portlet-body">
                                <div class="cbp cbp-caption-active cbp-caption-overlayBottomReveal cbp-ready" id="js-grid-juicy-projects" style="height: 1629px;">
                                    <div class="cbp-wrapper-outer">
                                        <div class="cbp-wrapper">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="cbp-item graphic" style="width: 322px; left: 0px; top: 0px;">
                                                        <div class="cbp-item-wrapper">
                                                            <div class="cbp-caption">
                                                                <div class="cbp-caption-defaultWrap" style="max-height:300px;">
                                                                    <img alt="" src="/assets/global/img/013.jpg"> 
                                                                </div>

                                                                <div class="cbp-caption-activeWrap">
                                                                    <div class="cbp-l-caption-alignCenter">
                                                                        <div class="cbp-l-caption-body">
                                                                            <a rel="nofollow" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" href="quotation-gst-add">Select</a>
                                                                            <a data-title="Dashboard&lt;br&gt;by Paul Flavius Nechita" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" href="../assets/global/img/portfolio/1200x900/57.jpg">view larger</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Dashboard</div>
                                                            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="cbp-item graphic" style="width: 322px; left: 0px; top: 0px;">
                                                        <div class="cbp-item-wrapper">
                                                            <div class="cbp-caption">
                                                                <div class="cbp-caption-defaultWrap" style="max-height:300px;">
                                                                    <img alt="" src="/assets/global/img/013.jpg"> 
                                                                </div>

                                                                <div class="cbp-caption-activeWrap">
                                                                    <div class="cbp-l-caption-alignCenter">
                                                                        <div class="cbp-l-caption-body">
                                                                            <a rel="nofollow" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" href="../assets/global/plugins/cubeportfolio/ajax/project1.html">more info</a>
                                                                            <a data-title="Dashboard&lt;br&gt;by Paul Flavius Nechita" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" href="../assets/global/img/portfolio/1200x900/57.jpg">view larger</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Dashboard</div>
                                                            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="apiUrl" value="<%= api.url %>"/>
                            <input type="hidden" id="token" value="<%= user.token %>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- partial('partials/modal/sms-rechargemodal') %>
