<!-- <a class="dt-button buttons-print btn dark btn-outline" href="#"><span><i class="fa fa-print"></i> Print</span></a>

<a class="dt-button buttons-pdf buttons-html5 btn purple btn-outline" href="#"><span><i class="fa fa-file-pdf-o"></i> PDF</span></a>

<a class="dt-button buttons-excel buttons-html5 btn yellow btn-outline" href="#"><i class="fa fa-file-excel-o"></i> <span>Excel</span></a>

<a class="dt-button buttons-csv buttons-html5 btn red btn-outline" href="#"><span><i class="fa fa-file-text-o"></i> CSV</span></a> -->

<a class="dt-button buttons-html5 btn red btn-outline btn-delete hidden mt-sweetalert"
   href="#">
    <i class="icon-trash"></i> <span>Delete</span>
</a>
<a class="dt-button buttons-csv buttons-html5 btn hidden green btn-outline btn-assign-ticket filter-btn" data-toggle="modal" href="#assignTicketModal"><span><i class="icon-check"></i> Assign Ticket</span></a>
<a class="dt-button buttons-excel buttons-html5 btn red btn-outline btn-send-quote hidden" href="#"><i class="icon-bubbles"></i> <span>Send Quote</span></a>

<a class="dt-button buttons-excel buttons-html5 btn red btn-outline btn-close-ticket hidden" href="#" id="close"><i class="icon-close"></i> <span>Close Ticket</span></a>

<a class="dt-button buttons-excel buttons-html5 btn purple btn-outline btn-edit hidden" href="" id="edit" ><i class="fa fa-edit"></i> <span>Edit</span></a>

<a class="dt-button buttons-excel buttons-html5 btn yellow btn-outline btn-send-sms hidden" href="#"><i class="icon-bubbles"></i> <span>Send SMS</span></a>

<a class="dt-button buttons-excel buttons-html5 btn yellow btn-outline btn-active hidden" href="#"><i class="icon-bubbles"></i> <span>Active</span></a>


<a class="dt-button buttons-excel buttons-html5 btn green btn-outline btn-confirm hidden" data-toggle="modal" href="#leadConfirmModal"><i class="icon-check"></i> <span>Confirm</span></a>

<a class="dt-button buttons-excel buttons-html5 btn green btn-outline btn-transfer hidden" data-toggle="modal" href="#leadAssignModal"><i class="icon-check"></i> <span>Transfer</span></a>

<a class="dt-button buttons-excel buttons-html5 btn dark btn-outline btn-cancel hidden" href="#" id="cancel"><i class="icon-close"></i> <span>Cancel</span></a>

<a class="dt-button buttons-csv buttons-html5 btn hidden dark btn-outline btn-assign filter-btn" data-toggle="modal" href="#assignToModal"><span><i class="icon-check"></i> Assign</span></a>

<a class="dt-button buttons-csv buttons-html5 btn hidden dark btn-outline btn-inventory filter-btn" data-toggle="modal" href="#assignToModal"><span><i class="icon-check"></i> Inventory</span></a>

<a class="dt-button buttons-csv buttons-html5 btn hidden dark btn-outline btn-product filter-btn" data-toggle="modal" href="#assignProModal"><span><i class="icon-check"></i> Inventory</span></a>

<a class="dt-button buttons-csv buttons-html5 btn hidden dark btn-outline btn-stock filter-btn" data-toggle="modal" href="#assignStockModal"><span><i class="icon-check"></i> Add Stock</span></a>


<a class="dt-button buttons-csv buttons-html5 btn hidden dark btn-outline btn-feedback filter-btn" data-toggle="modal" href="#content"><span><i class="icon-check"></i> Feedback</span></a>


<a class="dt-button buttons-excel buttons-html5 btn green btn-outline btn-activate hidden" href="#"><i class="icon-check"></i> <span>Activate</span></a>

<a class="dt-button buttons-excel buttons-html5 btn red btn-outline btn-deactivate hidden" href="#"><i class="fa fa-times"></i></i> <span>Deactive</span></a>

<!-- <a class="dt-button buttons-csv buttons-html5 btn hidden dark btn-outline btn-invoice filter-btn" data-toggle="modal" href="#invoice"><span><i class="icon-check"></i> Invoice</span></a>
 -->
<!-- <a class="dt-button buttons-csv buttons-html5 btn dark btn-outline refresh-btn"><span><i class="icon-refresh"></i></span></a> -->

<a class="dt-button buttons-csv buttons-html5 btn dark btn-outline fullscreen"><span><i class="icon-size-fullscreen"></i></span></a>