<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-3 col-sm-4 links-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Quick Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="/about">About us</a></li>
                            <li><a href="/work">Our work</a></li>
                            <li><a href="/contact">Contact</a></li>                                
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/privacy-policy">Privacy policy</a></li>
                            <li><a href="/terms-and-condition">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col col-md-6 col-sm-8 blog-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Latest From Our Blog</h3>
                        <div class="item">
                            <figure class="figure">
                                <img class="img-responsive" src="/ps/images/blog/blog-tiny-thumb-1.jpg" alt="" />
                            </figure>
                            <div class="content">
                                <h4 class="post-title"><a href="blog-post.html">DevStudio helps XYZ launch</a></h4>
                                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus...</p>
                                <ul class="meta list-inline">
                                    <li>18 Feb 2015</li>
                                    <li>James Lee</li>
                                </ul>
                            </div>
                        </div>  
                        <div class="item">
                            <figure class="figure">
                                <img class="img-responsive" src="/ps/images/blog/blog-tiny-thumb-2.jpg" alt="" />
                            </figure>
                            <div class="content">
                                <h4 class="post-title"><a href="blog-post.html">devAid - Free Bootstrap Theme</a></h4>
                                <p class="intro">Mauris libero leo, dapibus a congue ut, mollis sed nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus augue nec nulla ultricies...</p>
                                <ul class="meta list-inline">
                                    <li>21 Dec 2014</li>
                                    <li>Vincent Fowler</li>
                                </ul>
                            </div>
                        </div>                                                     
                    </div>
                </div>
                <div class="footer-col col-md-3 col-sm-12 contact-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Get In Touch</h3>
                        <p class="intro"></p>
                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
                                <span class="adr-group">       
                                    <span class="street-address">#303, JC Residency, 2-21/2</span><br />
                                    <span class="city">Sarakki Main Road, JP Nagar</span><br />
                                    <span class="postal-code"> 1<sup>st</sup> Phase, Bangalore, KA</span><br />
                                    <span class="country-name">PIN - 560078</span>
                                </span>
                            </p>
                            
                            <p class="tel col-md-12 col-sm-4">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe090;"></span>
                                <a href="tel:+918026644556">+91 802 664 4556</a>
                            </p>

                            <p class="tel col-md-12 col-sm-4">
                                <span class="fs1" aria-hidden="true" data-icon="&#x77;"></span>
                                <a href="tel:+919886681566">+91 988 668 1566</a>
                            </p>
                            <p class="email col-md-12 col-sm-4">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span>
                                <a href="#">support@zinetgo.com</a>
                            </p> 
                        </div> 
                    </div>
                </div>
            </div>   
        </div>        
    </div>
    <div class="bottom-bar">
        <div class="container center">                                   
            <ul class="social-icons list-inline">
                <li><a href="https://twitter.com/ZinetGo"><i class="fa fa-twitter"></i></a></li>                        
                <li><a href="https://www.facebook.com/zinetgo"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/zinetgonline"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/17878438"><i class="fa fa-linkedin"></i></a></li>
                <li class="last"><a href="https://plus.google.com/113646079003834560272"><i class="fa fa-google-plus"></i></a></li>                     
            </ul> 
            <small class="copyright text-center">Copyright @ 2016. ZinetGo Professional Services</small>                 
        </div>
    </div>
</footer>