<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span>Authors</span></li>
            </ul>
        </div>
        <h1 class="page-title"></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="form-alerts"> </div>
                <div class="portlet light bordered" id="authors_portlet">
                    <div class="portlet-title">
                        <div class="caption font-blue-hoki">
                            <i class="icon-layers font-blue-hoki"></i>
                            <span class="caption-subject bold uppercase"> Users List </span>
                        </div>

                        <div class="dt-buttons pull-right">
                            <a class="dt-button buttons-print btn green btn-outline" href="/admin/users/new"><span><i class="icon-plus"></i> Add User</span></a>

                            <%- partial('partials/al/table-tools') %>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="dataTables_wrapper no-footer">     
                            <div class="portlet-body" id="aDiv">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="authors">
                                    <thead>
                                        <tr class="uppercase">
                                            <th class="table-checkbox">
                                                <input type="checkbox" class="group-checkable" data-set="#authors .checkboxes" /> </th>
                                            <th> Name </th>
                                            <th> Mobile </th>
                                            <th> Email </th>
                                            <th> User Type</th>
                                            <th> Address </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableData"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="apiUrl" value="<%= api.url %>"/>
<input type="hidden" id="token" value="<%= user.token %>"/>