        <section class="promo section">
            <div class="container text-center">                
                <h2 class="title">About Us</h2>
                <p class="intro">We believe rhoncus lectus vehicula fermentum tincidunt. Nunc tincidunt felis pulvinar, mollis sapien ac, malesuada ante</p>
            </div>
        </section>
    </div>
    
    <!-- ******team Section****** -->
    <section id="team" class="team section">
        <div class="container">
            <h2 class="title text-center">Meet the team</h2>
            <p class="intro text-center">A dedicated and passion-filled group of professionals that come from every corner of the nation. Each bringing their own expertise and quirks!</p>
            <div class="row">
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Debadatta Mahanta</h3>
                                <h4 class="role">Software Engineer - Front End</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Jyoti Ranjan Giri</h3>
                                <h4 class="role">Software Engineer - Front End</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Kundan Negi</h3>
                                <h4 class="role">Marketing Lead</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/manohar.png" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Manohar Negi</h3>
                                <h4 class="role">Founder</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Monalisa Mohanty</h3>
                                <h4 class="role">Software Engineer - QA</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Neel Kamal</h3>
                                <h4 class="role">Web Developer</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Prasanjit Chakraborty</h3>
                                <h4 class="role">Sales Head</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Ravindra Khani</h3>
                                <h4 class="role">Web Developer - Trainee</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Sandeep Sharma</h3>
                                <h4 class="role">Software Engineer - Front End</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="row">
                            <figure class="figure col-md-5 col-sm-12 col-xs-12">
                                <img class="img-responsive" src="/ps/images/team/member-1.jpg" alt=""/>
                            </figure>
                            <div class="info col-md-7 col-sm-12 col-xs-12">
                                <h3 class="name">Subhrajyoti Mishra</h3>
                                <h4 class="role">Software Engineer - Back End</h4>
                                <p>Sed vel ultricies quam. Ut lacus odio, cursus in quam sit amet, gravida dapibus ante. Vestibulum viverra imperdiet diam vel condimentum. Nunc sit amet orci quis mauris mollis sodales. Sed sed massa non elit interdum porttitor.</p>
                            </div>
                        </div>
                        <div class="social text-center">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                
            </div>
        </div>
    </section>
    
    <!-- ******Job Section****** -->
    <section class="join-us section">
        <div class="container">
            <h2 class="title text-center">Join Our Team</h2>
            <p class="intro text-center">We love what we do vestibulum tincidunt tincidunt nisl et consectetur mauris sed dui non sapien rhoncus volutpat pellentesque</p>
            <div class="row">
                <div class="info col-md-7 col-sm-6 col-xs-12">
                    <p>You can use this section to advertise jobs or attract freelancers to join your team... Fringilla potenti morbi sociosqu dignissim sociis ridiculus. Magna parturient. Auctor convallis. Elementum adipiscing est. Rutrum. Viverra hac congue aliquam accumsan nam laoreet ut nascetur eu vulputate diam. Lacinia placerat ad lectus. Phasellus sit enim, metus quam hymenaeos fringilla venenatis natoque.</p>
                    <p>Sollicitudin hendrerit facilisis. Pretium quisque blandit justo massa condimentum varius lobortis, hymenaeos nec phasellus lectus Convallis convallis magnis pellentesque blandit Molestie sociosqu pede.</p>
                    
                    <p>If you are an iOS/Android developer interested in joining our team, please email your CV to <a href="#">jobs@devstudio.com</a></p>
                </div>
                <div class="partner col-md-4 col-sm-5 col-xs-12 col-md-push-1 col-sm-push-1 col-xs-push-0">
                    <h3 class="sub-title">Want to partner with us?</h3>
                    <p>If you are a development focused team you might want to attract design partners here...Vulputate sed Nostra elit consequat penatibus. Hac habitant inceptos scelerisque tempor dis purus orci. Risus porta. Arcu gravida, cubilia taciti, ultricies Nisi posuere magna penatibus non suspendisse in mus hendrerit.</p>
                    <a href="#" class="btn btn-cta btn-cta-primary">Contact us today!</a>
                </div>
            </div>
        </div>
    </section>
                                
    <!-- ******CTA Section****** -->
    <%- partial('ps/website/cta') %>