   
        <section class="promo section">
            <div class="container text-center">                
                <h2 class="title">Blog</h2>
                <p class="intro">Are you leveraging technology to gow your business? In our blog we cover how to utilize technology for small and medium businesses. Do sign up for our newsletter</p>
            </div>
        </section>
    </div>
       
    <!-- ******Blog list Section****** -->
    <section id="blog-list" class="blog-list section">
        <div class="container">
            
            <article class="item">                
                <div class="row">
                    <h3 class="post-title col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"><a href="/services/blog/free-websites-vs-professional-and-paid-websites">Free websites Vs professional and paid websites</a></h3>
                    <div class="clearfix"></div>
                    <div class="meta col-md-2 col-sm-3 col-xs-12 text-right">
                        <ul class="meta-list list-unstyled">                                       
                        	<li class="post-time post_date date updated">
                        	    <span class="date">17</span>
                        	    <span class="month">Nov</span>
                            </li>
                        	<li class="post-author"><a href="#">ZinetGo</a></li>
                        	<li class="post-comments-link">
                    	        Comments: <a href="blog-post.html#comment-area">8</a>
                    	    </li>
                    	</ul>
                    </div>
                    <div class="content-wrapper col-md-10 col-sm-9 col-xs-12">
                        <figure class="figure">
                            <a href="/services/blog/free-websites-vs-professional-and-paid-websites"><img class="img-responsive" src="/ps/images/blog/blog-4-1.jpg" alt=""></a>
                        </figure>
                        <div class="content">
                            <div class="desc">
                                <p>For people doing online business, a hosting company is the very important. However many people do not understand the huge difference between professional hosting company and other low cost hosts. As an internet entrepreneur you need to know the wide disparity between the two....</p>
                                <a class="read-more" href="/services/blog/free-websites-vs-professional-and-paid-websites">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="item">                
                <div class="row">
                    <h3 class="post-title col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"><a href="/services/blog/business-owners-guide-to-start-online-business">Business owners guide to start online business</a></h3>
                    <div class="clearfix"></div>
                    <div class="meta col-md-2 col-sm-3 col-xs-12 text-right">
                        <ul class="meta-list list-unstyled">                                       
                            <li class="post-time post_date date updated">
                                <span class="date">21</span>
                                <span class="month">Dec</span>
                            </li>
                            <li class="post-author"><a href="#">ZinetGo</a></li>
                            <li class="post-comments-link">
                                Comments: <a href="/services/blog/business-owners-guide-to-start-online-business">8</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content-wrapper col-md-10 col-sm-9 col-xs-12">
                        <figure class="figure">
                            <a href="blog-post.html"><img class="img-responsive" src="/ps/images/blog/blog-3-1.jpg" alt=""></a>
                        </figure>
                        <div class="content">
                            <div class="desc">
                                <p> There are so many ways to start a business online that it can quickly become confusing. However, you can easily start making money quickly if you have a simple plan. One of the most important issues you need to deal with when starting out is to decide how much money you want to make. For example, if you are interested in earning a million dollar income, pay per click and affiliate programs is one way to do it. If you are only interested in earning a few hundred or a few thousand a month, you may want to consider something like bum marketing...</p>
                                <a class="read-more" href="/services/blog/business-owners-guide-to-start-online-business">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="item">                
                <div class="row">
                    <h3 class="post-title col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"><a href="/services/blog/7-things-to-consider-before-starting-your-website">7 things to consider before starting your website</a></h3>
                    <div class="clearfix"></div>
                    <div class="meta col-md-2 col-sm-3 col-xs-12 text-right">
                        <ul class="meta-list list-unstyled">                                       
                            <li class="post-time post_date date updated">
                                <span class="date">6</span>
                                <span class="month">Jan</span>
                            </li>
                            <li class="post-author"><a href="#">ZinetGo</a></li>
                            <li class="post-comments-link">
                                Comments: <a href="#">8</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content-wrapper col-md-10 col-sm-9 col-xs-12">
                        <figure class="figure">
                            <a href="/services/blog/7-things-to-consider-before-starting-your-website"><img class="img-responsive" src="/ps/images/blog/blog-2-1.jpg" alt=""></a>
                        </figure>
                        <div class="content">
                            <div class="desc">
                                <p>Your website is the heart of your online business. It tells a lot more about your business to millions of people who may become your customer someday. To help your customers and prospects you must include the following in your website...</p>
                                <a class="read-more" href="/services/blog/7-things-to-consider-before-starting-your-website">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="item">                
                <div class="row">
                    <h3 class="post-title col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"><a href="/services/blog/why-every-business-needs-a-professional-website">Why every business needs a professional website</a></h3>
                    <div class="clearfix"></div>
                    <div class="meta col-md-2 col-sm-3 col-xs-12 text-right">
                        <ul class="meta-list list-unstyled">                                       
                            <li class="post-time post_date date updated">
                                <span class="date">18</span>
                                <span class="month">Nov</span>
                            </li>
                            <li class="post-author"><a href="#">ZinetGo</a></li>
                            <li class="post-comments-link">
                                Comments: <a href="blog-post.html#comment-area">0</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content-wrapper col-md-10 col-sm-9 col-xs-12">
                        <figure class="figure">
                            <a href="/services/blog/why-every-business-needs-a-professional-website"><img class="img-responsive" src="/ps/images/blog/blog-1-1.jpg" alt=""></a>
                        </figure>
                        <div class="content">
                            <div class="desc">
                                <p>It is time you got down to business and let your business count by making sure it appeals to everyone around and gets noticed by as many people as possible. So if your business is running plain with no website or rather the website is a just a jumbled up piece of work then it is time to make the change and let your small business get counted with the rest...</p>
                                <a class="read-more" href="/services/blog/why-every-business-needs-a-professional-website">Read more <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>