
        <section class="promo section">
            <div class="container text-center">                
                <h2 class="title">Contact Us</h2>
                <p class="intro">Get in touch if you have a project or want to find out more about our services. We'd love to hear from you!</p>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->
    
    <!-- ******Contact Section****** --> 
    <section class="contact-section section">
        <div class="container">
            <h2 class="title text-center">Start your project today</h2>
            <p class="intro text-center">Have any idea in mind that you want to go online with or build your business website, we can surely help you. Get in touch with us for any further details.</p>
            <ul class="contact-info list-inline text-center">
                <li class="tel">
                    <a href="tel:+918026644556">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe090;"></span><br /> 
                        +91 802 664 4556
                    </a>
                </li>
                <li class="email">
                    <a href="mailto:support@zinetgo.com">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br /> 
                        support@zinetgo.com
                    </a>
                </li>
            </ul>
            <form id="contact-form" class="contact-form form" method="post" action="#">                    
                <div class="row text-center">
                    <div class="contact-form-inner col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="row">                                                                                       
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="sr-only" for="cname">Your name</label>
                                <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required>
                            </div>                    
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="sr-only" for="cemail">Email address</label>
                                <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="sr-only" for="cmobile">Mobile Number</label>
                                <input type="text" class="form-control" id="cmobile" name="cmobile" placeholder="Your mobile number" maxlength="10" required>
                            </div>                    
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <label class="sr-only" for="ccity">City</label>
                                <input type="email" class="form-control" id="ccity" name="ccity" placeholder="Your city" required>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="sr-only" for="cmessage">Your message</label>
                                <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="10" required></textarea>
                            </div>
                             <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                            </div>                           
                        </div><!--//row-->
                    </div>
                </div><!--//row-->
                <div id="form-messages"></div>
            </form><!--//contact-form-->
        </div><!--//container-->
    </section><!--//contact-section-->
    
    <!-- ******Map Section****** --> 
    <section class="map-section section">
        <div class="gmap-wrapper">
            <!--//You need to embed your own google map below-->
            <!--//Ref: https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=en -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15555.97717891554!2d77.577635!3d12.908088!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9cace9ebedb86296!2sHurreh+Technologies+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1479586981055" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!--//gmap-wrapper-->
    </section><!--//map-section-->